.gallery-object {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .canvas-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-basis: 100%;
  }

  .loading {
    position: absolute;
    top: 0;
    z-index: 200;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading.hidden {
    animation-duration: 2s;
    animation-name: vanish;
    animation-fill-mode: forwards;
  }

  @keyframes vanish {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
