@darkGrey: #333333;
@lightGrey: #ECECEC;

.key-object {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: @darkGrey;
  background-color: @lightGrey;
  width: 18px;
  height: 40px;

  font-size: 1.2em;

  margin-left: 1px;
  margin-right: 1px;

  border-radius: 2px;

  &.sharp {
    color: @lightGrey;
    background-color: @darkGrey;
    margin-bottom: 15px;

    .note-name {
      background-color: @lightGrey;
    }
  }

  &.pressed .note-name {
    visibility: visible;
  }
}

.key-name {
  position: absolute;
  bottom: 0;
  padding: 2px;
  text-align: center;
}

.note-name {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: @darkGrey;
  margin-top: 7px;
  visibility: hidden;
}
